<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.codebaum.beginnerandroidexamples"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExampleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".examples.HelloWorldActivity"
            android:parentActivityName=".ExampleListActivity"/>
        <activity
            android:name=".examples.ExplicitIntentActivity"
            android:parentActivityName=".ExampleListActivity"/>
        <activity
            android:name=".examples.ImplicitIntentActivity"
            android:parentActivityName=".ExampleListActivity"/>
        <activity
            android:name=".examples.HelloKotlinActivity"
            android:parentActivityName=".ExampleListActivity"/>
        <activity
            android:name=".FinishActivity"
            android:parentActivityName=".examples.ExplicitIntentActivity"/>
        <activity android:name=".examples.WhyKotlinActivity"/>
        <activity android:name=".examples.WhyNotJavaActivity">
        </activity>
        <activity android:name=".examples.BasicViewsActivity"/>
        <activity android:name=".examples.ActivityLifecycleActivity"/>
        <activity android:name=".examples.FragmentsActivity"/>
        <activity android:name=".examples.AdvancedActivity"/>
    </application>

</manifest>